<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" side="start">
            <ion-content>
                <ion-list id="inbox-list">
                    <ion-list-header>Menu</ion-list-header>
                    <ion-note>Developed by: Rafael M.</ion-note>

                    <ion-item lines="none" detail="false">
                        <ion-icon slot="start" ios="color-palette-outline" md="color-palette-sharp"></ion-icon>
                        <ion-label>Theme</ion-label>
                        <ion-toggle (ionChange)="onToggleColorTheme($event)"></ion-toggle>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>

        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>